@media (max-width:992px)
{
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        opacity: o.5;
    
        font-family: 'Inconsolata', monospace;
    }
    
     .main
     {
        background-image: url(./assets/back2.webp);
     }
    .header {
        width: 100%;
        height: 80px;
        color: white;
        text-shadow: black;
        font-weight: bold;
        background-image: linear-gradient(black,grey);
    
    
    }
    .name
    {
        text-align: center;
        font-size: 40px;
        text-decoration: underline;
        margin-top: 2;
    }
    .name:hover
    {
        color: goldenrod;
    }
    .logo img{
        height: 70;
        width: 10%;
        float: left;
        color: whitesmoke;
    }
    
    h2 {
        text-align: center;
        line-height: 70px;
        font-size: 35px;
        text-decoration: underline;
        
    }
    h2:hover
    {
        color: goldenrod;
    }
    
    .nav {
        float: right;
    
    }
    
    ul {
        display: flex;
        list-style: none;
        height: 50px;
        width: 100%;
        font-size: 20;
    
    }
    
     ul li {
        display: inline;
        padding: 10px 20px;
        font-size: 20px;
        margin: 0 10px;
    }
    ul li a{
        cursor: pointer;
        font-size: 25px;
        color: beige;
    
    }
    ul  li a:hover
    {
     color: burlywood;
    }
    
    
    .raw {
        display: flex;
        clear: both;
    
    }
    p{
        color: beige;
        font-size: 15px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    .column {
        margin-right: 10px;
        margin-left: 10px;
        padding: 20px;
        color: beige;
        font-size: 17px;
        cursor: pointer;
        
    }
    
    .g1 {
        width:30%;
        height: 300px;
        margin: 5px;
        box-shadow: 5px;
    }
    
    .g1 img {
        height: 300px;
        width: 300%;
        padding-top: 10px;
        cursor: pointer;
        box-shadow: 3px;
    }
    
    .g2 {
        width: 30%;
        height: 300px;
        margin: 5px;
    }
    
    .g2 img {
        height: 300px;
        width: 300%;
        padding-top: 10px;
        cursor: pointer;
    }
    
    .g3 {
        width: 30%;
        height: 300px;
        margin: 5px;
    }
    
    .g3 img {
        height: 300px;
        width: 300%;
        padding-top: 10px;
        cursor: pointer;
    }
    .para{
        background-color: black;
    }
    
    .para p{
        color: white;
        font-size: 20px;
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
            
    }
    .para h1{
        color: white;
        text-decoration: underline;
        cursor: pointer;
        text-align: center;
    }
    .para img{
        width: 100%;
        height: 400px;
    
    } 
    .footer
    {
        height: auto;
        width: 100%;
        background-image: linear-gradient(grey,black);
    }
    .logo
    {
        
        color: whitesmoke;
        cursor: pointer; 
        padding-top: 5px; 
        text-align: center;
    }
    .footer h3{
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    }
    .footer p{
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    
}
